/*
    Mixins
*/

@use "sass:color";
@use "Variables" as *;
@use "Functions" as *;

@mixin Transition($property: all, $duration: 0.2s, $timing: ease-out)
{
    transition: $property $duration $timing;
}

@mixin EaseOut
{
    @include Transition(all, 0.5s);
}

@mixin EaseOutFast {
    @include Transition(all, 0.2s);
}

@mixin EaseOutTransformFast {
    @include Transition(transform, 0.2s);
}

@mixin VerticalGradient($from, $to, $fromLightness: 0%, $toLightness: 0%, $fromAlpha: 1, $toAlpha: 1, $angle: 180deg)
{
    background: linear-gradient(
        $angle,
        Tone($from, $fromLightness, $fromAlpha) 0%,
        Tone($to, $toLightness, $toAlpha) 100%
    );
}

@mixin FontWeightGrow($color)
{
    text-shadow:
        -0.5px -0.5px 0 SetTextColor($color),
        0.5px -0.5px 0 SetTextColor($color),
        -0.5px 0.5px 0 SetTextColor($color),
        0.5px 0.5px 0 SetTextColor($color);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

@mixin Theme($light-theme: true)
{
    @if $light-theme
    {
        background: color.adjust($primary-color, $lightness: 100%);
        color: color.adjust($text-color, $lightness: -100%);
    }
}

@mixin NavigationAnimation
{
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;

    @keyframes bugfix 
    {
        from 
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
    @-webkit-keyframes bugfix 
    {
        from 
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}

/*
    Media mixins
*/
@mixin MediaSmall 
{
    @media screen and (max-width: 768px)
    {
        @content;
    }
}

@mixin MediaMedium {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
